<!DOCTYPE HTML>
<html lang="en" dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>KolorMobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700;800&family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light" data-gradient="gradient-1">
    
<div id="preloader"><div class="spinner-border color-red-dark" role="status"></div></div>
    
<div id="page">
    <div id="footer-bar" class="footer-bar-4">
        <a href="pages-list.html" class="active-nav"><i class="fa fa-heart"></i><span>Pages</span></a>
        <a href="components-list-detailed.html"><i class="fa fa-star"></i><span>Features</span></a>
        <a href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
        <a href="pages-media.html"><i class="fa fa-image"></i><span>Media</span></a>
        <a href="contact.html"><i class="fa fa-envelope"></i><span>Contact</span></a>
    </div>
    

    <div class="header header-fixed header-logo-app">
        <a href="#" data-back-button class="header-title">KOLOR</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-right"></i></a>
        <a href="#" data-menu="menu-color" class="header-icon header-icon-2"><i class="fas fa-cog fa-spin"></i></a>
        <a href="#" data-toggle-theme      class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" data-toggle-theme      class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>
    
    <!-- Global Menus-->
    <div id="menu-color" data-menu-load="menu-color.html" class="menu menu-box-modal menu-gradient"  data-menu-width="cover" data-menu-height="cover"></div>   
    <div id="menu-share" data-menu-load="menu-share.html" data-menu-effect="menu-parallax" class="menu menu-box-bottom menu-box-detached" data-menu-height="390"></div>   

    <div class="page-content header-clear-medium">

        <div class="card card-style">
            <div class="content">
                    <h1>Register</h1>
                    <p class="font-11 mt-n2 mb-3">Create Account. It's free!</p>
                    <div class="input-style input-style-1 has-icon input-required">
                        <i class="fa fa-user input-icon"></i>
                        <span class="color-highlight">Username</span>
                        <em>(required)</em>
                        <input class="form-control rounded-0" type="name" placeholder="Name">
                    </div> 
                    <div class="input-style input-style-1 has-icon input-required">
                        <i class="fa fa-at input-icon"></i>
                        <span class="color-highlight">Username</span>
                        <em>(required)</em>
                        <input class="form-control rounded-0" type="email" placeholder="Email">
                    </div> 
                    <div class="input-style input-style-1 has-icon input-required">
                        <i class="fa fa-lock input-icon"></i>
                        <span class="color-highlight">Password</span>
                        <em>(required)</em>
                        <input class="form-control rounded-0" type="password" placeholder="Password">
                    </div>         
                    <div class="input-style input-style-1 has-icon input-required">
                        <i class="fa fa-lock input-icon"></i>
                        <span class="color-highlight">Password</span>
                        <em>(required)</em>
                        <input class="form-control rounded-0" type="password" placeholder="Confirm Password">
                    </div>         
                <div class="row mb-0">
                    <a href="#" class="col-6 text-start font-10 pt-2 pb-2 color-blue-dark">Forgot Password?</a>
                    <a href="#" class="col-6 text-end font-10 pt-2 pb-2 color-blue-dark">Sign In</a>
                </div>

                <a href="#" class="btn btn-full btn-m bg-green-dark rounded-sm mt-3 mb-4 font-800 text-uppercase shadow-xl">Register Account</a>
                <div class="divider"></div>
                <a href="#" class="btn btn-full btn-icon btn-l bg-dark-dark rounded-sm mb-2 font-800 text-uppercase shadow-xl"><i class="fab fa-apple"></i>Connect with Apple ID</a>
                <a href="#" class="btn btn-full btn-icon btn-l bg-facebook rounded-sm mb-2 font-800 text-uppercase shadow-xl"><i class="fab fa-facebook-f"></i>Connect with Facebook</a>
                <a href="#" class="btn btn-full btn-icon btn-l bg-twitter rounded-sm mb-2 font-800 text-uppercase shadow-xl"><i class="fab fa-twitter"></i>Connect with Twitter</a>
            </div>
        </div>
        <div class="footer" data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
    
    <div class="page-bg"><div></div></div>
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
